@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico');

* {
	padding: 0;
	margin: 0;
}

header {
	background: url(../images/macarons.jpeg); 
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

div, section, figure {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

body {
	color: #7D7D7D;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

p {
	padding: 0 20px;
}

h2,
h3 {	
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4.75em;
	font-weight: normal;
	text-align: center;
	color: #333;
}

h2 {
	color: #7D7D7D;
	font-weight: normal;
	padding: 20px 20px 0px;
	font-size: 1.75em;
}

h3 {
	color: #7D7D7D;
	padding: 10px 20px 0px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style-type: disc;
	color: #7D7D7D;
	padding-left: 40px;
}

hr {
	border: none;
	background-color: #fff;
	height: 2px;
}

footer {
/*	background-color: #333;
	padding: 20px 0;*/
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

.navlinks {
	text-transform: uppercase;
	text-align: center;
	padding: 0 12px;
}

#landing {
	text-align: center;
	background-color: #333;
	padding: 10px;
}

#slogan {
	color: #333;
	font-size: 2em;
	text-align: center;	
	padding-bottom: 20px;
}

#contact {
	float: right;
}

#cookie {
	background: url(../images/cookies.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

#quote {
	color: #fff;
	background-color: #333;
	text-align: center;
	padding: 20px;
	font-weight: normal;
	width: 50%;
	margin: 2em auto 0;
}

#quote p {
	font-size: 1.5em;
}
